/* Párrafos: negrita, centrados, 20px */
p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

/* Imágenes centradas solo en pantalla */
@media screen {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Texto azul si el dispositivo tiene menos de 480px */
@media screen and (max-width: 480px) {
  p {
    color: blue;
  }
}
