/* Estilos de tabla */
.tabla {
  border: 1px solid #000;
}
.fila {
  display: flex;
}

.fila > div {
  flex: 1;
  border: 1px solid #000;
  padding: 4px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cabecera {
  font-weight: bold;
}

/* Estilos formulario */
label {
  display: inline-block;
  min-width: 80px;
}

form div {
  margin-bottom: 4px;
}

button {
  min-width: 50px;
  margin-right: 4px;
}
